*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
}

#sketch-area{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto 10px auto;
    background-color: white;
}

.cell{
    border: 1px solid gray;
}

#slider-container {
  margin-top: 15px;
  width: 40%;          
  text-align: center; 
}

#slider-value {
  margin-top: 5px;
  font-weight: bold;
}

.slider{
    -webkit-appearance: null;
    appearance: none;
    height: 25px;
    width: 100%;
    background: rgba(200, 255, 238, 0.726);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb{
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

#reset{
    width: 50px;
    height: 25px;
    background-color: rgb(154, 185, 214);
    border: none;
    border-radius: 10px;
    margin-bottom: 10px; 
    padding: 5px 12px;
    cursor: pointer;
}

#reset:hover{
    background-color: rgb(86, 130, 171);
}

#full-container {
  display: flex;
  flex-direction: column; 
  align-items: center;   
  margin-top: 20px;
}
